In [230]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
matches=pd.read_csv("Task_4/matches.csv")

In [5]:
columns=matches.columns
index=matches.index
data=matches.to_numpy()

In [26]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [42]:
# Q1
matches[matches.eq(2008)].season.count()

58

In [81]:
#Q2
print(matches['city'].value_counts().idxmax())
print(matches['city'].value_counts().idxmin())

Mumbai
Bloemfontein

In [116]:
#Q3
matches.city.value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [119]:
#Q4
print(matches["toss_winner"].value_counts().idxmax())
print(matches["toss_winner"].value_counts().idxmin())

Mumbai Indians
Rising Pune Supergiant

In [126]:
#Q5
matches.groupby(["toss_winner",'toss_decision']).nunique()

                                           id  season  city  date  team1  \
toss_winner                 toss_decision
Chennai Super Kings         bat            48      10    18    48      1
                            field          41      10    16    41      8
Deccan Chargers             bat            24       5    16    24      1
                            field          19       5    10    19      7
Delhi Capitals              bat             2       1     1     2      1
                            field           8       1     7     8      6
Delhi Daredevils            bat            29      10    11    29      1
                            field          51      11    18    51     10
Gujarat Lions               bat             1       1     1     1      1
                            field          14       2     7    14      6
Kings XI Punjab             bat            26      10    15    26      1
                            field          55      12    19    55     11
Kochi Tuskers Kerala        bat             3       1     3     3      1
                            field           5       1     4     5      5
Kolkata Knight Riders       bat            30       8    11    30      1
                            field          62      11    20    62     13
Mumbai Indians              bat            44      12    14    44      1
                            field          54      11    11    54     13
Pune Warriors               bat            11       3     5    11      1
                            field           9       3     6     9      5
Rajasthan Royals            bat            32      10    15    32      1
                            field          48      10    15    48     10
Rising Pune Supergiant      field           6       1     2     6      6
Rising Pune Supergiants     bat             3       1     3     3      1
                            field           4       1     4     4      3
Royal Challengers Bangalore bat            20       9    13    20      1
                            field          61      12    17    61     11
Sunrisers Hyderabad         bat            20       6     9    20      1
                            field          26       7     9    26     10

                                           team2  result  dl_applied  winner  \
toss_winner                 toss_decision
Chennai Super Kings         bat               10       1           2      10
                            field              1       2           1       6
Deccan Chargers             bat                8       1           1       9
                            field              1       1           1       7
Delhi Capitals              bat                2       1           1       2
                            field              1       2           1       3
Delhi Daredevils            bat               10       2           2       8
                            field              1       1           2       9
Gujarat Lions               bat                1       1           1       1
                            field              1       1           1       3
Kings XI Punjab             bat                9       1           1      10
                            field              1       2           2       9
Kochi Tuskers Kerala        bat                2       1           1       2
                            field              1       1           2       2
Kolkata Knight Riders       bat                8       1           2       8
                            field              1       2           2      10
Mumbai Indians              bat               12       2           1       9
                            field              1       1           1      10
Pune Warriors               bat                6       1           1       7
                            field              1       1           1       5
Rajasthan Royals            bat               10       2           1      10
                            field              1       2           2       8
Rising Pune Supergiant      field              1       1           1       2
Rising Pune Supergiants     bat                3       1           2       3
                            field              1       1           2       2
Royal Challengers Bangalore bat                9       2           1       8
                            field              1       3           2      10
Sunrisers Hyderabad         bat                8       1           2       6
                            field              1       1           2       8

                                           win_by_runs  win_by_wickets  \
toss_winner                 toss_decision
Chennai Super Kings         bat                     26               7
                            field                   13              11
Deccan Chargers             bat                     11               8
                            field                   10               5
Delhi Capitals              bat                      2               2
                            field                    3               6
Delhi Daredevils            bat                     13               8
                            field                   23              10
Gujarat Lions               bat                      1               1
                            field                    5               6
Kings XI Punjab             bat                      7               9
                            field                   22               9
Kochi Tuskers Kerala        bat                      1               3
                            field                    2               3
Kolkata Knight Riders       bat                     16               7
                            field                   20              10
Mumbai Indians              bat                     19               7
                            field                   22               9
Pune Warriors               bat                      4               5
                            field                    9               1
Rajasthan Royals            bat                     13               8
                            field                   17               7
Rising Pune Supergiant      field                    2               6
Rising Pune Supergiants     bat                      1               3
                            field                    4               2
Royal Challengers Bangalore bat                     10               6
                            field                   25               9
Sunrisers Hyderabad         bat                      8               7
                            field                   12               9

                                           player_of_match  venue  umpire1  \
toss_winner                 toss_decision
Chennai Super Kings         bat                         30     19       25
                            field                       28     18       24
Deccan Chargers             bat                         20     17       17
                            field                       15     10       13
Delhi Capitals              bat                          2      1        2
                            field                        7      7        5
Delhi Daredevils            bat                         24     11       21
                            field                       43     21       29
Gujarat Lions               bat                          1      1        1
                            field                        9      7        8
Kings XI Punjab             bat                         24     16       20
                            field                       41     22       30
Kochi Tuskers Kerala        bat                          3      3        3
                            field                        4      4        5
Kolkata Knight Riders       bat                         22     12       15
                            field                       40     22       29
Mumbai Indians              bat                         32     19       19
                            field                       44     13       27
Pune Warriors               bat                         11      6        6
                            field                        7      6        6
Rajasthan Royals            bat                         28     17       21
                            field                       36     18       28
Rising Pune Supergiant      field                        6      2        4
Rising Pune Supergiants     bat                          3      3        3
                            field                        3      4        4
Royal Challengers Bangalore bat                         18     14       12
                            field                       40     19       24
Sunrisers Hyderabad         bat                         18     10       11
                            field                       20     10       18

                                           umpire2  umpire3
toss_winner                 toss_decision
Chennai Super Kings         bat                 24        3
                            field               28       13
Deccan Chargers             bat                 13        0
                            field               13        0
Delhi Capitals              bat                  2        2
                            field                6        7
Delhi Daredevils            bat                 19        3
                            field               26        4
Gujarat Lions               bat                  1        0
                            field                9        0
Kings XI Punjab             bat                 19        1
                            field               31        9
Kochi Tuskers Kerala        bat                  3        0
                            field                4        0
Kolkata Knight Riders       bat                 18        0
                            field               27       11
Mumbai Indians              bat                 24        4
                            field               25        7
Pune Warriors               bat                  7        0
                            field                8        0
Rajasthan Royals            bat                 19        4
                            field               29       10
Rising Pune Supergiant      field                4        0
Rising Pune Supergiants     bat                  3        0
                            field                4        0
Royal Challengers Bangalore bat                 11        0
                            field               29        8
Sunrisers Hyderabad         bat                 13        2
                            field               17        8

In [127]:
# Q6
matches.result.value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [144]:
# Q7
matches.loc[matches['result']=='tie',['team1','team2']]

                           team1                        team2
33                 Gujarat Lions               Mumbai Indians
125             Rajasthan Royals        Kolkata Knight Riders
189              Kings XI Punjab          Chennai Super Kings
387  Royal Challengers Bangalore          Sunrisers Hyderabad
400             Delhi Daredevils  Royal Challengers Bangalore
475             Rajasthan Royals        Kolkata Knight Riders
535             Rajasthan Royals              Kings XI Punjab
705        Kolkata Knight Riders               Delhi Capitals
746               Mumbai Indians          Sunrisers Hyderabad

In [210]:
# Q8
# matches.loc[matches['win_by_runs']]
matches.loc[matches['win_by_runs'].idxmax(), 'winner']

'Mumbai Indians'

In [211]:
# Q9
matches.loc[matches['win_by_runs'].idxmin(), 'winner']

'Rising Pune Supergiant'

In [207]:
# Q10
play=matches.player_of_match.value_counts()
print(play[play > 3].index.tolist())

['CH Gayle', 'AB de Villiers', 'RG Sharma', 'MS Dhoni', 'DA Warner', 'YK Pathan', 'SR Watson', 'SK Raina', 'G Gambhir', 'MEK Hussey', 'AM Rahane', 'V Kohli', 'V Sehwag', 'DR Smith', 'AD Russell', 'A Mishra', 'JH Kallis', 'KA Pollard', 'SE Marsh', 'AT Rayudu', 'SP Narine', 'Harbhajan Singh', 'SR Tendulkar', 'RA Jadeja', 'UT Yadav', 'Rashid Khan', 'RV Uthappa', 'AC Gilchrist', 'M Vijay', 'RR Pant', 'S Dhawan', 'SL Malinga', 'A Nehra', 'BJ Hodge', 'HH Pandya', 'SC Ganguly', 'SPD Smith', 'PA Patel', 'KC Sangakkara', 'DPMD Jayawardene', 'BB McCullum', 'JP Faulkner', 'AJ Finch', 'DW Steyn', 'Yuvraj Singh', 'SV Samson', 'GJ Maxwell', 'JJ Bumrah', 'Sandeep Sharma', 'JD Unadkat', 'JC Buttler', 'B Kumar', 'KL Rahul', 'KD Karthik', 'JP Duminy', 'MK Pandey', 'NM Coulter-Nile', 'AR Patel', 'N Rana', 'F du Plessis', 'SK Warne', 'CA Lynn', 'SS Iyer', 'ML Hayden', 'KH Pandya']

In [212]:
# Q11
matches.player_of_match.value_counts().idxmax()

'CH Gayle'

In [213]:
# Q12
matches.loc[matches['win_by_runs'].idxmin(), 'venue']

'Maharashtra Cricket Association Stadium'

In [ ]:
# Q13
matches.loc[matches['win_by_runs'].idxmin(), 'venue']

In [219]:
# Q14
print(matches.umpire1.value_counts().idxmax())
print(matches.umpire2.value_counts().idxmax())

HDPK Dharmasena
C Shamshuddin

In [225]:
# Q15
matches.season.value_counts()

2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [226]:
# Q16
matches.groupby(['season'])['win_by_runs'].sum()

season
2008     705
2009     764
2010     976
2011    1098
2012     960
2013    1241
2014     644
2015     850
2016     676
2017     788
2018     675
2019     665
Name: win_by_runs, dtype: int64

In [229]:
# Q17
matches.toss_winner.value_counts()

Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Royal Challengers Bangalore    81
Kings XI Punjab                81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: toss_winner, dtype: int64

In [ ]:
# Q18

In [ ]:
# Q19

In [ ]:
# Q20

In [ ]:
# Q21

In [237]:
# Q22
matches.team1.value_counts()+matches.team2.value_counts()

Chennai Super Kings            164
Deccan Chargers                 75
Delhi Capitals                  16
Delhi Daredevils               161
Gujarat Lions                   30
Kings XI Punjab                176
Kochi Tuskers Kerala            14
Kolkata Knight Riders          178
Mumbai Indians                 187
Pune Warriors                   46
Rajasthan Royals               147
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    180
Sunrisers Hyderabad            108
dtype: int64

In [ ]:
# Q23

In [ ]:
# Q24

In [252]:
# Q25
ratio=matches.result.value_counts()['normal']/matches.result.count()
print(ratio)

0.9828042328042328

In [260]:
# Q26
matches.groupby(['toss_decision'])['toss_winner'].value_counts()

toss_decision  toss_winner
bat            Chennai Super Kings            48
               Mumbai Indians                 44
               Rajasthan Royals               32
               Kolkata Knight Riders          30
               Delhi Daredevils               29
               Kings XI Punjab                26
               Deccan Chargers                24
               Royal Challengers Bangalore    20
               Sunrisers Hyderabad            20
               Pune Warriors                  11
               Kochi Tuskers Kerala            3
               Rising Pune Supergiants         3
               Delhi Capitals                  2
               Gujarat Lions                   1
field          Kolkata Knight Riders          62
               Royal Challengers Bangalore    61
               Kings XI Punjab                55
               Mumbai Indians                 54
               Delhi Daredevils               51
               Rajasthan Royals               48
               Chennai Super Kings            41
               Sunrisers Hyderabad            26
               Deccan Chargers                19
               Gujarat Lions                  14
               Pune Warriors                   9
               Delhi Capitals                  8
               Rising Pune Supergiant          6
               Kochi Tuskers Kerala            5
               Rising Pune Supergiants         4
Name: toss_winner, dtype: int64

743